In [2]:
import pandas as pd
import numpy as np

In [3]:
x=np.array(['a','b','c','d'])
print(x)

['a' 'b' 'c' 'd']

In [4]:
a=pd.Series(x)
print(a)

0    a
1    b
2    c
3    d
dtype: object

In [6]:
a=pd.Series(x,index=[10,20,30,40])
a

10    a
20    b
30    c
40    d
dtype: object

## Dictionaries

In [7]:
y={1:1,2:4,3:9,4:16}

In [9]:
b=pd.Series(y)
b

1     1
2     4
3     9
4    16
dtype: int64

In [10]:
pd.Series(y,index=[3,4,5,6])

3     9.0
4    16.0
5     NaN
6     NaN
dtype: float64

In [11]:
y[5]=25
y

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [12]:
pd.Series(y,index=[3,4,5,6])

3     9.0
4    16.0
5    25.0
6     NaN
dtype: float64

## Scalar

In [13]:
pd.Series(100,index=[1,2,3])

1    100
2    100
3    100
dtype: int64

## DataFrame

In [21]:
pd.DataFrame(x)

   0
0  a
1  b
2  c
3  d

In [26]:
Details=[['Vinay',21,9703055055],['John',20,9394412615],['Phillip',23,7207802034]]

In [27]:
pd.DataFrame(Details,index=[1,2,3],columns=['Name','Age','Contact no.'])

      Name  Age  Contact no.
1    Vinay   21   9703055055
2     John   20   9394412615
3  Phillip   23   7207802034

In [31]:
Dict={'Name':['Vinay','John','Phillip'],'Age':[21,20,23],'Contact':[9703055055,9394412615,7207802034]}

In [33]:
pd.DataFrame(Dict,index=[1,2,3])

      Name  Age     Contact
1    Vinay   21  9703055055
2     John   20  9394412615
3  Phillip   23  7207802034